/*SOMMAIRE : 
1/ Mise en forme de l'article
2/ Media queries tablettes
3/ Media queries téléphones

/* //ARTICLE// */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.article {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(217,217,217,0.7);
    max-width: 800px;
    padding: 25px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 125%;
    padding-left : 40px;
    padding-right: 40px;
    margin-bottom: 50px;
}

.article p {
    font-size: 16px;
    padding : 10px;
}

.article h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}

.article h2 {
    font-family: Oswald;
    font-size: 40px;
    padding : 20px;
    text-align: center;
}

.article a {
    color: black;
}

.article img {
    object-fit: cover;
    max-width: 600px;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article ul {
    list-style: circle;
    padding-left: 30px;
}

/* //MEDIA QUERIES TABLETTES// */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .article {
        max-width: 90%;
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
  
    .article h2 {
        font-size: 32px;
    }
  
    .article p {
        font-size: 14px;
    }
  
    .article img {
        max-width: 100%;
    }
}
  
/* //MEDIA QUERIES TABLETTES// */
@media screen and (max-width: 600px) {
    .article {
        width: 95%;
        padding: 15px;
    }
  
    .article h2 {
        font-size: 28px;
    }
  
    .article h3 {
        font-size: 16px;
        padding: 15px 5px;
    }
  
    .article p {
        font-size: 14px;
        padding: 5px;
    }
  
    .article img {
        max-width: 100%;
    }
}